<div class="row">
	<div class="col=md-10 text-center">
		<h1>Update your Customer info: </h1>

		<%= render "new_contact_form" %>
		<br />
		<%= link_to "add Customer Addresses", user_path %>
	</div>
</div>